/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 7 mars 2025, 22:30:58
    Author     : moham
*/

#photoM {
    border-radius: 50%;
    width: 250px;
}